

.topheader{
    /* background-color: aquamarine !important; */
    background-image: url('../images/top1.jpg');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.topoverlay{
    min-height: 500px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0,0.8);
}
.Topcontent{
    margin-top: 150px;
}
h1,h4{
    color: azure;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.serviceHeader h1{
    color: rgb(49, 128, 225);
    margin-bottom: 40px;
    margin-top: 40px;
}
.serviceHeader h2{
    color: rgb(49, 128, 225);  
}
.chart h2{
    color: rgb(49, 128, 225);  
}
.serviceHeader{
    color: rgb(49, 128, 225);  
    margin-top: 30px;
}
p{
    text-align: justify;
}

.navmenus{
/* background: none !important; */
font-size: 15px;
font-family: Roboto;
height: 50px;


}
.navbgcolor{
    background-color: rgb(49, 128, 225);
}


.navtext {
    color: rgb(17, 125, 220);
    /* background-color: aqua; */
    
}


.btn{
    align-items: center;
}

.cardimg{
      text-align: center;

}
.cardimg img{
    width: 150px;
    height: 150px;
}

.cardcol{
    box-shadow: 1px 1px 10px 1px #888888;

}



.containerWidth{
    max-width: 70%;
    /* background-color: rgb(12, 171, 118); */
}
 .chart{
    /* margin-top: 0px; */
 }

 .containerWidthService{
    width: 70%;
    margin-top: 100px;
 }

 /* .TotalWork{
    background-color: url('../images/top.jpg');
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 } */

 .TotalWork{
    background: url('../images/top.jpg');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 }


 .TotalWorkOverlay{
    min-height: 500px;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);

 }
 .underline{
    width: 80px;
    height: 1px;
    background-color: white;
    margin-left: 150px;
    margin-top: 30px;
 }

 .countNumber{
    color: aliceblue;

 }
 .countTitle{
    color: aliceblue;

 }
 .countsection{
    margin-top: 12%;
 }

 .check{
    color: rgb(17, 125, 220)
 }
.projectContainer{
    margin-top: 50px;
    max-width: 70%;
}
.projectContainer h2{
    color: rgb(17, 125, 220);
}

.recentProject img{
    width: 100%;
    height: 300px;
}


.coursesContainer{
    margin-top: 50px;
    max-width: 70%;
}
.coursesContainer h2{
    color: rgb(17, 125, 220);
}
.playContainer{
    max-width: 70%;
    margin-top: 30px;


}


.footerContainer h5{
    /* color: rgb(17, 125, 220); */
    color: black;
}
.playbutton{
    color: rgb(17, 125, 220);
    font-size: 30px;
    cursor: pointer;
}
.videocard{
    background-color: #ffff;
    padding: 100px;
    margin-top: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 120, 125, 0.2);
}
.videocard h4{
    color: rgb(17, 125, 220);
    margin-bottom: 20px;
}
.reviewContainer{
    margin-top: 50px;
    max-width: 70%;
    /* box-shadow: 5px 5px 5px 5px rgba(0, 120, 125, 0.2); */
}
.reviewContainer h3{
    color: rgb(17, 125, 220);
}
.imgcss{
    margin: 0 auto;
}
.border{
    width: 100%;
    height: 1px;
    box-shadow: 1px 1px 1px 1px rgba(0, 120, 125, 0.2);

    
}

.footerContainer{
    margin-top: 100px;
    max-width: 70%;
    margin-bottom: 100px;
}
.footerborder{
    width: 100%;
    height: 50px;
    background-color: rgb(17, 125, 220);
}
.logofooter{
    color: rgb(17, 125, 220);
    font-size: 15px;
    
}


/* #### Top Ttile  */


.toptitle{
    /* background-color: aquamarine !important; */
    background-image: url('../images/TopTitle.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.toptitleoverlay{
    min-height: 400px;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0,0.8);
}

.line{
    width: 100%;
    height: 2px;
    background-color: rgb(227, 238, 249);
    margin-top: 50px;
}

.Contact{
    width: 70%;
    margin-top: 50px;
 }
 .about{
    margin-top: 60px;
    width: 70%;
 }
 .lineAbout{
    width: 100%;
    height: 2px;
    background-color: rgb(227, 238, 249);
    margin-top: 30px;
}